*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ================= NAVBAR ================= */
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(amazon-logo-editorial-icon-isolated-600nw-2333488123.webp);
    background-size: cover;
    height: 50px;
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

.add-first{
    font-size: 0.8rem;
    color: #cccccc;
}
.add-second{
    font-size: 1rem;
}


.nav-search{
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    width: 50px;
    border: none;
}

.search-input{
    width: 100%;
    border: none;
    padding-left: 10px;
}

.search-icon{
    width: 45px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}


.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin: 0 10px;
}


.hero-section{
    background-image: url(Budgetunrec._CB777837018_.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    padding: 10px;
    width: 80%;
    text-align: center;
    margin-bottom: 25px;
}


.shop-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #e2e7e6;
}


.box{
    background-color: white;
    padding: 15px;
    min-height: 420px;        
}
.box-content{
    width: 100%;
}


.box-img{
    height: 280px;
    background-size: cover;
    background-position: center;
    margin: 10px 0;
}


.inner-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 8px;
    margin: 12px ;
}

.inner-grid img{
    width: 150px;
    height: 123px;
}


.box-content p{
    color: #007185;
    font-size: 14px;
    
}

@media (max-width: 1024px){
    .shop-section{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .shop-section{
        grid-template-columns: 1fr;
    }
}
